.datos_contacto,
.datos_pedido{
	width: 40%;
	min-height:250px;
	max-height: 100%;	
	font-family: "Myriad Pro";
	font-size: 16px;	
	padding: 5%;
	float: left;
}

.datos_contacto input,
.datos_pedido input{
	width: 90%;
	font-family: "Myriad Pro";
	font-size: 16px;	
	padding: 5px;	
}

.datos_mensaje textarea{
	width: 95%;
	height: 60px;
	font-family: "Myriad Pro";
	font-size: 16px;	
	padding: 5px;	
}

.datos_mensaje{
	width: 90%;
	padding: 5%;
	margin-top:20px; 
}

.textbox0{
	padding-left: 75px;
	resize: vertical;
    min-height: 120px;
    max-height: 400px;
}

.actions{
	padding: 20px;
	padding-left: 280px;
}