.principal{
	background-color: #241f20;
	width:1031px;
	min-height:900px;
	max-height:100%;
	margin: 0px auto 0px auto;
	border-bottom:5px solid #fb008d;
	border-left:5px solid #fb008d;
	border-right:5px solid #fb008d;

}