.der_contenido .contenido .somos {
	padding-top: 10%;
	padding-left: 10%;
	padding-right: 10%;
	text-align: justify;
	font-family: "Myriad Pro","Gill Sans","Gill Sans MT",Calibri,sans-serif;
	font-size: 14px;
}

.der_contenido .contenido .impresora {
	padding: 80px 10% 10% 10%;
	float: right;
} 