.der_contenido .contenido .somos {
	padding-top: 5%;
	padding-left: 10%;
	padding-right: 10%;
	text-align: justify;
	font-family: "Myriad Pro","Gill Sans","Gill Sans MT",Calibri,sans-serif;
	font-size: 14px;
}

.der_contenido .contenido .impresora ,
.der_contenido .contenido .distribuidores {
	padding: 80px 0px 10% 10%;
	float: right;
} 