body {
  position: static;
  background-image: url("/Imagenes/Inicio/fondo.jpg");
  color: #dddddd;
  margin-top:0px;
  margin-bottom:0px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: #12a7e9;
  display: table;
}