.side {
  width:180px;
  height:900px;
  float:left;
 } 

.logo {
  width: 178px;
  height: 138px;
  float:left;
}


.imagen2 img {  
  width: 178px;
  height: 266px;
}

.imagen3 img {
  width: 178px;
  height: 64px;
}

a1 {
  color: #ddddd;
  &:visited {
    color: #12a7e9;    
  }
  &:hover {
    color: #12a7e9;
    background-color: #241f20;
  }
}

b {
  color: #ddddd;
  &:visited {
    color: #fb008d;
  }
  &:hover {
    color: #fb008d;
    background-color: #241f20;
  }
}

c {
  color: #ddddd;
  &:visited {
    color: #feea3b;
  }
  &:hover {
    color: #feea3b;
    background-color: #241f20;
  }
}

d {
  color: #ddddd;
  &:visited {
    color: #68cc2b;
  }
  &:hover {
    color: #68cc2b;
    background-color: #241f20;
  }
}

e {
  color: #ddddd;
  &:visited {
    color: #12a7e9;
  }
  &:hover {
    color: #12a7e9;
    background-color: #241f20;
  }
}

f {
  color: #ddddd;
  &:visited {
    color: #fd982c;
  }
  &:hover {
    color: #fd982c;
    background-color: #241f20;
  }
}

.textoP {
  width:180px;  
  float:center;
  font-family:Myriad Pro;
  font-size:20px;
  color:#fb008d;
  line-height:0px;
}

.textoB {
  width:180px;  
  float:center;
  font-family:Myriad Pro;
  font-size:18px;
  color:#12a7e9; 
  line-height:0px; 
}

.textop {
  width:180px;  
  float:center;
  font-family:Myriad Pro;
  font-size:12px;
  color:#fb008d;
}  

.textop1 {
  width:180px;  
  float:center;
  font-family:Myriad Pro;
  font-size:17px;
  color:#fb008d;
  line-height:0px;
}

.textob {
  width:180px;  
  float:center;
  font-family:Myriad Pro;
  font-size:17px;
  color:#12a7e9;
  line-height:0px;
}   
