<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
<% end %>
	
	<td><%= line_item.cartucho.title %></td>
	<td><%= line_item.cartucho.brand %></td>
	<td><%= line_item.quantity %></td>
	
</tr>