<div class="cintilla_cartuchos">Cartuchos Originales</div>	
<div class="somos">
   <p>Desplegar los logos de todas las marcas (HP, Xerox, Epson, Samsung, Brother, Lexmark, Canon,  Kyocera, Dell, etc) Te voy a dar dos o tres modelos de cartuchos que estén en “oferta”  +  buscador de cartuchos
	</p>

</div>
	



