<div class="cintilla_cartuchos">Distribuidores</div>	
<div class="somos">
   <p>Ahorra hasta un 50%” “Garantía”, “Calidad”, ”Recicla” Te voy a pasar dos o tres cartuchos en “oferta” + buscador de cartuchos</p>
	<p>Impresoras y otros productos: Dos o tres ejemplos de impresoras en “promoción”  + pequeño listado de otros productos (papelería, memorias USB, tablets, computadoras, mouse, etc)</p>
</div>
	



