<div class="cintilla_distribuidores">Distribuidores</div>	
<div class="somos">
   <p>“QUIERES DISTRIBUIR NUESTROS PRODUCTOS?” “ES UNA GRAN OPORTUNIDAD DE NEGOCIO” “En cartuchos compatibles contamos con los modelos más utilizados en México y somos distribuidores autorizados. Importamos directamente, lo que nos permite ofrecer a nuestros distribuidores un alto margen de utilidad. Te podemos ofrecer precios de distribuidor a partir de 10 piezas del mismo modelo. Contáctanos a <a href="mailto:formación@tonerdpt.com.mx">información@tonerdpt.com.mx</a> y te mandaremos toda la información que necesites.
	</p>

	<img class="distribuidores", src="/Imagenes/fondos/cartuchos.gif" width="300" height="300" />
</div>
	



