<div class="cintilla_cartuchos">Impresoras y otros productos: </div>	
<div class="somos">
   <p>Dos o tres ejemplos de impresoras en “promoción”  + pequeño listado de otros productos (papelería, memorias USB, tablets, computadoras, mouse, etc).
	</p>

</div>
	



