<% content_for :head do %>
  <title>Cartuchos de Toner Reutilizables | Cartuchos de Toner Rellenables | Cartuchos de Toner Recargables </title>
  <meta name="description" content="Le ofrecemos los mejores Cartuchos de Toner Reutilizables y Rellenables. Atendemos a todo Mexico, visite nuestro sitio web www.toner-depot.com o llamenos en DF al 5572 3254 y Queretaro 4430 1039">
  <meta name="keywords" content="Cartuchos de Toner Reutilizables, Cartuchos de Toner Rellenables, Cartuchos de Toner Recargables ">
  <meta name="revisit-after" content="10 days" />
  <meta name="robots" content="index, follow" /> 
  <meta name="rating" content="general" />
  <meta name="distribution" content="global" />
  <meta name="classification" content="Cartuchos de Toner Reutilizables" />
  <meta name="copyright" content="www.toner-depot.com " />
  <meta name="geo.region" content="MX" />
  <meta name="geo.placename" content="Ciudad de Mexico" />
  <meta name="geo.country" content="MX" />

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-81189408-1', 'auto');
    ga('send', 'pageview');

  </script>

<%end%>

<div class="contenido_index">
	<%= render partial: "layouts/content" %>
	<%= render partial: "layouts/imgs" %>
</div>
