<% content_for :head do %>
  <title>Recarga Toner | Toner Barato | Recarga de Cartuchos de Toner | Toner para Impresoras</title>
  <meta name="description" content="Tenemos el servicio de Recarga de Cartuchos de Toner para Impresoras a un precio barato. Llámenos en DF al 5572 3254 y Queretaro 4430 1039">
  <meta name="keywords" content="Recarga Toner, Toner Barato, Recarga de Cartuchos de Toner, Toner para Impresoras">
  <meta name="revisit-after" content="10 days" />
  <meta name="robots" content="index, follow" /> 
  <meta name="rating" content="general" />
  <meta name="distribution" content="global" />
  <meta name="classification" content="Recarga de Cartuchos de Toner Baratos" />
  <meta name="copyright" content="www.toner-depot.com " />
  <meta name="geo.region" content="MX" />
  <meta name="geo.placename" content="Ciudad de Mexico" />
  <meta name="geo.country" content="MX" />

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-81189408-1', 'auto');
    ga('send', 'pageview');

  </script>

<%end%>


<div class="cintilla_quienes">¿Quienes somos?</div>	
<div class="somos">
   <p> En Toner Depot nos dedicamos a la venta de consumibles de impresión, tales como cartuchos de tinta y toner, así como equipos de impresión, ya sea en venta o renta, ofreciendo a nuestros clientes grandes ahorros, con un producto de comprobada calidad y un servicio de primera. </p>
	
	<p>En cuanto a los consumibles contamos con prácticamente todas las marcas y modelos tanto en cartuchos Originales así como en cartuchos compatibles.  </p>

	<p>Los cartuchos compatibles cuentan con certificaciones ISO 9001 y están 100% garantizados de que le darán la misma calidad en impresión y el mismo rendimiento que un cartucho original, con el gran beneficio para su empresa de que el ahorro es en promedio de un 50% vs el cartucho original. </p>

	<p>Ofrecemos también atractivos planes de renta de impresoras o equipo de cómputo con planes a la medida a 12, 24 o 36 meses que incluyen consumibles, mantenimiento y servicio. </p>

	<p>Como servicio complementario también ofrecemos la venta de papelería. 
	Todos nuestros productos y servicios los ofrecemos con servicio a domicilio si ningún costo adicional para usted. </p>
	
	<p>Agradeciendo de antemano su tiempo y atención, quedo a sus ordenes para cualquier comentario, esperando poder servirle pronto
	</p>
	
        <img class="impresora", src="<%=image_path("fondos/impresoratonerdepot.png")%>" />
</div>	

	



