<div class="cintilla_quienes">¿Quienes somos?</div>	
<div class="somos">
   <p> En Toner Depot nos dedicamos a la venta de consumibles de impresión, tales como cartuchos de tinta y toner, así como equipos de impresión, ya sea en venta o renta, ofreciendo a nuestros clientes grandes ahorros, con un producto de comprobada calidad y un servicio de primera. </p>
	
	<p>En cuanto a los consumibles contamos con prácticamente todas las marcas y modelos tanto en cartuchos Originales así como en cartuchos compatibles.  </p>

	<p>Los cartuchos compatibles cuentan con certificaciones ISO 9001 y están 100% garantizados de que le darán la misma calidad en impresión y el mismo rendimiento que un cartucho original, con el gran beneficio para su empresa de que el ahorro es en promedio de un 50% vs el cartucho original. </p>

	<p>Ofrecemos también atractivos planes de renta de impresoras o equipo de cómputo con planes a la medida a 12, 24 o 36 meses que incluyen consumibles, mantenimiento y servicio. </p>

	<p>Como servicio complementario también ofrecemos la venta de papelería. 
	Todos nuestros productos y servicios los ofrecemos con servicio a domicilio si ningún costo adicional para usted. </p>
	
	<p>Agradeciendo de antemano su tiempo y atención, quedo a sus ordenes para cualquier comentario, esperando poder servirle pronto
	</p>
	
        <img class="impresora", src="<%=image_path("fondos/impresoratonerdepot.png")%>" />
</div>	

	



