<div class="cintilla_renta">Renta de equipo</div> 
<div class="somos">

  <%= link_to image_tag("/Imagenes/fondos/precision.jpg"), "http://www.precisionprint.com.mx/renta.php", :target => "_blank" %>

</div>  
