<ul>
	<li><a href="#">Toner depot SA de CV Copytight 2014</a></li>			
	<li><a href="#">Inicio</a></li>	
	<li><a href="#">Cartuchos</a></li>	
	<li><a href="#">Renta de equipo</a></li>	
	<li><a href="#">Distribuidores</a></li>	
	<li><a href="#">Quienes somos</a></li>	
	<li><a href="#">Contactos</a></li>	
	<li><a href="#">DF 5572 3254 / Qro 4430 1039</a></li>							
</ul >	
		