<div>
	<p class="p1">PRODUCTOS</p>
	<img class="bottom" src="/Imagenes/Inicio/cartuchosoriginales.jpg" alt="image01" />
    <img class="bottom" src="/Imagenes/Inicio/cartuchoscompatible.jpg" alt="image02" />
    <img class="bottom" src="/Imagenes/Inicio/distribuidores.jpg" alt="image03" />
    <img class="bottom" src="/Imagenes/Inicio/rentasdeequipo.jpg" alt="image04" />
</div>        