<div>
	<p class="p1">  PRODUCTOS </p>
	<ul class="bottom">
        <lu><img src="/Imagenes/Inicio/cartuchosoriginales.jpg" alt="image01" /></li>
        <lu><img src="/Imagenes/Inicio/cartuchoscompatible.jpg" alt="image02" /></li>
        <lu><img src="/Imagenes/Inicio/distribuidores.jpg" alt="image03" /></li>
        <lu><img src="/Imagenes/Inicio/rentasdeequipo.jpg" alt="image04" /></li>
    </ul>
</div>        