<div>
	<p class="p1">PRODUCTOS</p>
	<a href="cartuchos_originales">
          <img class="bottom" src="<%=image_path("Inicio/cartuchosoriginales.jpg")%>" alt="image01" />
	</a>
    <a href="cartuchos/">
      <img class="bottom" src="<%=image_path("Inicio/cartuchoscompatible.jpg")%>" alt="image02" />
    </a>
    <a href="distribuidores">
      <img class="bottom" src="<%=image_path("Inicio/distribuidores.jpg")%>" alt="image03" />
    </a>
    <a href="renta">
      <img class="bottom" src="<%=image_path("Inicio/rentasdeequipo.jpg")%>" alt="image04" />
    </a>
</div>        
