<ul class="menu">
	<li>
		<a href="#">Inicio</a>
	</li>			
	<li>
		<a href="#">Cartuchos</a>
	</li>			
	<li>
		<a href="#">Renta de equipo</a>
	</li>		
	<li>
		<a href="#">Distribuidores</a>
	</li>
	<li>
		<a href="#">Quienes somos</a>
	</li>
	<li>
		<a href="#" >Contactanos</a>
	</li>
</ul>	
		