<div>
		
		<div class ="banner">
		  <img src="/Imagenes/Inicio/banner.jpg">		
		<div>	
			<ul class="menu">
				<li><a1 href="http://www....">Inicio  </a><span style="color:#fb008d;"> | </span></li>			
				<li><b href="http://www..../faq">Cartuchos  </b><span style="color:#fb008d;"> | </span></li>			
				<li><c href="http://www..../news">Renta de equipo  </c><span style="color:#fb008d;"> | </span></li>		
				<li><d href="http://www..../contact">Distribuidores  </d><span style="color:#fb008d;"> | </span></li>
				<li><e href="http://www..../contact">Quienes somos  </e><span style="color:#fb008d;"> | </span></li>
				<li><f href="http://www..../contact">Contactanos </f><span style="color:#fb008d;"> | </span></li>
			</ul>
		
		<br><br>
<div>		
		