<ul class="menu">
	<li><a href="#" class="menu1">Inicio</a></li>			
	<li><%#= link_to "Cartuchos", cartucho_path %></li>			
	<li><a href="#" class="menu3">Renta de equipo</a></li>		
	<li><a href="#" class="menu4">Distribuidores</a></li>
	<li><a href="#" class="menu5">Quienes somos</a></li>
	<li><a href="#" class="menu6">Contactanos</a></li>
</ul>	
		