
<div class="side">
		<class ="logo"><img src="/Imagenes/Inicio/logo.jpg">	
		<br>
		<p class="textoPp"> Información </p>
		<p class="textoB"> Df: 55723254 </p>
		<p class="textoB"> Qro: 44301039 </p>
		<p class="textop"> informacion@cwmex.com.mx </p> 
		<p class="textoPp"> Servicio de domicilio </p>
		<p class="textop1"> sin costo <span class="textob"> en Queretaro, </span></p>
		<p class="textob"> DF y area metropolitana </p>
		<br>
		<p class="textoPp"> Buscar cartucho </p>
			<input type="text" >
			<input type="text" >
		<br>	
		<p class="pimp"> Buscar impresoras </p>
			<input type="text" >
			<input type="text" >
		<br><br>
		<class ="imagen2"><img src="/Imagenes/Inicio/imagen2.jpg">
		<class ="imagen3"><img src="/Imagenes/Inicio/imagen3.jpg">

	</div>	